/* global styles */

body,
html,
#root {
  background: #f0f2f9 !important;
  background-color: #f0f2f9 !important;
}

@keyframes loading-animation {
  0% {
    color: rgba(0, 0, 0, 0.1);
  }
  50% {
    color: rgba(0, 0, 0, 0.5);
  }
  100% {
    color: rgba(0, 0, 0, 0.1);
  }
}
